<mat-card appearance="outlined" class="d-flex flex-column h-100" xmlns="http://www.w3.org/1999/html">
  <mat-card-header style="height: 5%">
    <mat-card-title>
      Current Messages
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-4" style="max-height: 95%">
    <div class="overflow-y-auto overflow-x-hidden h-100">
      @for (msg of storedMessages; track msg) {
        <div class="row my-2">
          <div class="text-break">
            <span class="fw-bold text-primary">{{msg.sender}}</span>: {{msg.text}}
          </div>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
