<div class="position-relative h-100">
  <mat-card class="position-absolute top-50 start-50 translate-middle w-75 h-75">
    <mat-card-content class="h-100">
      <div class="row row-cols-1 row-cols-md-2 h-100">
        <div class="col">
          <app-message-view class="w-100"></app-message-view>
        </div>
        <div class="col">
          <div class="row h-75">
            <div class="col">
              <app-message-send class="w-100"></app-message-send>
            </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

